*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2024/03/29/02/30/ai-generated-8662021_1280.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todolist{
    background-color: rgba(255, 255, 255, 1);
    width: 30%;
    height: 40%;
    border-radius: 10px;
    padding: 10px;
    h1{
        padding: 10px;
    }
    .add{
        position: relative;
        input{
            padding: 10px;
            width: 100%;
            border-radius: 20px;
            
        }
        button{
            padding: 16px 50px;
            border-radius: 20px;
            position: absolute;
            right: 1px;
            background-color: aqua;
            border: none;
            outline: none;
            font-size: 16px;
            cursor: pointer;
        }
    }
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-image:url(https://lucidar.me/en/web-dev/files/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}
ul li.checked{
        color:blue;
        text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://lucidar.me/en/web-dev/files/checked.png);

}