*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   height: 50px;
   background-color: aqua; 
   margin-bottom: 10px;
}
.main-top{
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 10px;
    height: 300px;
}
.left{
    display: grid;
    grid-template-columns: 30fr 70fr;
    gap: 10px;  
    
}
.man{
    display: grid;
    grid-template-rows:repeat(4,1fr);
    gap: 10px;
}
.box{
    background-color: blue;

}
.right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.men{
    background-color: orange;
}
.main-center{
    margin-top: 10px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.round{
    background-color: rgb(62, 47, 29);
}
.main-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    height: 300px;
}
footer{
    background-color: aquamarine;
    height: 50px;
    margin-top: 10px;
}


